.scrollChart {
  width: 1400px;
  height: 740px;
  overflow-x: scroll;
}

@media only screen and (min-width: 768px) {
  .scrollChart {
    width: 1400px;
    height: 740px;
    overflow-x: hidden;
  }
}
